apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: dpp-ingress
  namespace: dpp-playground
spec:
  rules:
    - host: dpp.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
