apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: dpp-playground
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: dpp/frontend:latest
          ports:
            - containerPort: 8000
