apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: dpp-playground
spec:
  selector:
    app: minio
  ports:
    - port: 9000
      targetPort: 9000
    - port: 9001
      targetPort: 9001
